  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%# <a class="navbar-brand" id="logo" href="#">Tech Blog</a> %>
    <%= link_to "TECH BLOG", root_path, class:"navbar-brand", id:"logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Bloggers", users_path, class:"nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
              <li><%= link_to "New Article", new_article_path, class:"dropdown-item" %></li>
            <%end%>
            <li><%= link_to "list Articles", articles_path, class:"dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <% if logged_in? %>
          <ul class="navbar-nav me-2 mb-2">
            <li class="mt-2 me-2">
              <%= gravatar_for current_user, size: 25 %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                [<%= current_user.username%>]
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to "View profile", user_path(current_user), class:"dropdown-item" %></li>
                <li><%= link_to "Edit profile", edit_user_path(current_user), class:"dropdown-item" %></li>
              </ul>
            </li>
            <li>
              <%= link_to 'logout', logout_path, method: :delete, class:"btn btn-danger"%>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"> <%= link_to 'login', login_path, class:"nav-link"%></li>
            <li class="nav-item"><%= link_to 'sign up', signup_path, class:"nav-link"%></li>
          <%end%>
        </form>
      </div>
    </div>
  </nav>
